[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
pyttsx3 = "*"
docx = "*"
pip = "*"
install = "*"
speechrecognition = "*"
exception = "*"

[dev-packages]

[requires]
python_version = "3.8"
